<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="test automation GroupBusiness workflow ">
  <test name="Logindex">
    <classes>
      <class name="testAutomation.GroupBusiness.Logindex.Userlogindex"/>
      <class name="testAutomation.GroupBusiness.Admin.User_managment"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

